# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
*.db
*.sqlite3

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo
*.code-workspace

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Instance folder
instance/*
!instance/.gitkeep

# Redis dump file
*.rdb

# Migrations pycache specifico
migrations/__pycache__/
migrations/versions/__pycache__/

# Database files
instance/*.db
instance/*.sqlite

# Mantieni solo .gitkeep
!instance/.gitkeep
backup_sqlite.sql

# Backup files
backups/*
!backups/.gitkeep
!backups/sqlite/.gitkeep
!backups/postgres/.gitkeep
